body {
	margin: 0;
	padding-top: 60px;
	background-color: #eae8e7;
}
a {
	text-decoration: none;
}
.el-card__header {
	padding: 12px 20px;
	background-color: #420c5c;
	color: #fff;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
